---
import { SidebarItem } from "~/sidebar"
import { leftSidebar } from "./LeftSidebar.css"
import LeftSidebarItem from "./LeftSidebarItem"
import Logo from "~/components/Logo.astro"
import { header } from "../header/Header.css"
import { config } from "config"
import { getCollection } from "astro:content"

export interface Props {
	items: SidebarItem[]
}

const { items } = Astro.props
---

<aside class={leftSidebar.wrapper}>
	<div class={leftSidebar.titleWrapper}>
		<Logo class={header.icon} width="40" height="40" />
		<h1 class={leftSidebar.title}>
			<a href={config.siteUrl} class={header.titleLink}>{config.title}</a>
		</h1>
	</div>
	{items.map(item => <LeftSidebarItem client:idle depth={0} item={item} now={false} />)}
</aside>
