---
import { config } from "config"
import Logo from "~/components/Logo.astro"
import { header } from "./Header.css"
import HeaderItem from "./HeaderItem.astro"
import MdiGithub from "~icons/mdi/github"
import HeaderWrapper from "./HeaderWrapper"
import ThemeToggleButton from "./ThemeToggleButton"
import Button from "~/components/ui/Button"
---

<HeaderWrapper client:idle>
	<div class={header.left}>
		<Logo class={header.icon} width="40" height="40" />
		<h1 class={header.title}>
			<a href={config.siteUrl} class={header.titleLink}>{config.title}</a>
		</h1>
		<HeaderItem><a href="/docs"><h2>Docs</h2></a></HeaderItem>
	</div>
	<div class={header.right}>
		<HeaderItem>
			<a href={config.links.github} target="_blank">
				<Button round={true}>
					<MdiGithub />
				</Button>
			</a>
		</HeaderItem>
		<ThemeToggleButton client:idle />
	</div>
</HeaderWrapper>
