---
import { MarkdownHeading } from "astro"
import { CollectionEntry } from "astro:content"
import BaseLayout from "./BaseLayout.astro"
import LeftSidebar from "~/components/layout/sidebar/left/LeftSidebar.astro"
import { Slug, sidebar } from "config"
import { docLayout } from "./DocLayout.css"
import RightSidebar from "~/components/layout/sidebar/right/RightSidebar.astro"

export interface Props {
	entry: CollectionEntry<"docs">
	headings: MarkdownHeading[]
	slug: Slug
}

const { headings, entry, slug } = Astro.props
---

<BaseLayout>
	<div class={docLayout.wrapper}>
		<LeftSidebar currentPageSlug={slug} items={sidebar} />

		<div class={docLayout.right.wrapper}>
			<div class={docLayout.right.first}>
				<article class={docLayout.main}><slot /></article>
			</div>

			<div class={docLayout.right.second}>
				<RightSidebar headings={headings} />
			</div>
		</div>
	</div>
</BaseLayout>

<style lang="sass">
	article
		width: 100%
		margin-right: 2em
</style>
